<style>

  body, .current-event-container, .main-container {  overflow:scroll !important;}

  label, #time-range p{
    color:white;
  }
  h2 {
    text-align: center;
    margin:auto;
    color:white;
    font-size:35px;
    font-weight: 100;
  }
  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color:white;
  }
  h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color:white;
  }
</style>

<div class="current-event-container">
   
</div>
