<style>

  body {  overflow:scroll !important;}

  label, #time-range p{
    color:white;
  }
  h2 {
    text-align: center;
    margin:auto;
    color:white;
    font-size:35px;
    font-weight: 100;
  }
  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color:white;
    text-decoration: underline;
  }
  h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    color:white;
  }
</style>

<div class="create-event-form-container">
  <h2>Sam's Event</h2></br>
  <h3>Title field:</h3><h4>message field</h4></br>
  <h3>Start Time field:</h3>
  <h4>coutdown</h4></br>
  <h3>Location field:</h3>
  <h4>distance from you</h4></br>
  
</br>
<h2>Who's Invited?</h2></br>
</div>

<div class="row">
  <div class="medium-4 large-4 columns text-center">
    <img src="http://placehold.it/300x250&text=[things]">
    <h4>Francesca Tabor</h4>
  </div>
  <div class="medium-4 large-4 columns text-center">
    <img src="http://placehold.it/300x250&text=[things]">
    <h4>Francesca Tabor</h4>
  </div>
  <div class="medium-4 large-4 columns text-center">
    <img src="http://placehold.it/300x250&text=[things]">
    <h4>Francesca Tabor</h4>
  </div>
  <div class="medium-4 large-4 columns text-center">
    <img src="http://placehold.it/300x250&text=[things]">
    <h4>Francesca Tabor</h4>
  </div>
  <div class="medium-4 large-4 columns text-center">
    <img src="http://placehold.it/300x250&text=[things]">
    <h4>Francesca Tabor</h4>
  </div>
</div>
