<style>
body {  overflow:scroll !important;}
</style>

<div class='row'>
<div class='large-12 columns'>
<div class='panel'>
<h1>"+data[i].title+"</h1><
/div></div></div><div class='row'><div class='large-3 columns '><div class='panel'>
      <a href='#'><img src='http://placehold.it/300x240&text=[img]'/></a>
      <h5>"+data[i].message+"</h5>
      </div>
    </div>
  </div> 
  <div class='large-6 columns'>
    <div class='row'>
      <div class='large-2 columns small-3'><img src='http://placehold.it/80x80&text=[img]'/></div>
      <div class='large-10 columns'>
        <p><strong>Name</strong></br>Headline</p>
        <ul class='inline-list'>
          <li><a href='>View</a></li>
        </ul>
      </div>
    </div>
</div>
