.local-auth {
position: absolute;
z-index: 1000;left:0;right:0;
top: 0;margin-top:150px;
}
.local-sign-up {
  display:none;
}
.local-login {
  display:none;
}
.submit-local-login {
  left:0;
  right:0;
  width:50%;
}
#local-login-form {
  left:0;
  right:0;
}
#local-login-link {
  // left:0;
  // right:0;
  // margin-left:42%;
  // margin-right: auto;
}
#linkedin-sign-up-link {
  margin-right: 68px;
}