<!-- FORM 

This Form is redundant. It is just made in order to see what we have in the login.js file. NOTE! We still need to add links for the link-to-sign-up and link-to-log-in page. -->

<div id='toggle-local-login'>
	<h1>Login</h1></br>
	<strong><a href='/api/users/auth/linkedin'>Login with Linkedin</a></strong></br>
	<strong><a href='#' id='link-to-sign-up'>No Account? Sign up here</a></strong></br>

	<form>
	  <ul>
	    	<li><input type='text' id='email' name='email' value=''></input></li>
	    	<li><input type='text' id='password' name='password' value=''></input></li>
	    	<li><input id='callAjax' class='btn btn-default' type='submit' value='Submit'></input></li>
	  </ul>
	</form>
</div>


<div id='toggle-local-sign-up'>
	<h1>Sign up</h1></br>
	<strong><a href='#' id='link-to-log-in'>Already have an account? Login</a></strong>
	</br>	<strong><a href='/api/users/auth/linkedin'>Login with Linkedin</a></strong></br>

	<form>
	  <ul>
	    	<li><input type='text' id='name' name='name' value=''></input></li>
	    	<li><input type='text' id='email' name='email' value=''></input></li>
	    	<li><input type='text' id='password' name='password' value=''></input></li>
	    	<li><input type='text' id='headline' name='headline' value=''></input></li>
	    	<li><input id='callAjax' class='btn btn-default' type='submit' value='Submit'></input></li>
	  </ul>
	</form>
</div>
