<div class="fixed">
<div class="menu_container">
<section class="hero">
  <div class="row">
    <div class="large-12 columns">
      <div class="main-wrapper">
        <div class="row">
        <div class="small-4 columns"><h1 class="menu_logo">WeLunch</h1></div>
          <div class="small-8 columns nav-icons">
            <ul class="button-group even-4">
              <li>
                <img class="menu_icons" src="/images/icons/white_invites.png">
                <a href="/invitations">
                  <h5 class="menu_text">Invitations</h5>
                </a>
              </li>
              <li>
                <img class="menu_icons" src="/images/icons/white_lunch.png">
                <a href="/events/show">
                  <h5 class="menu_text">Lunch</h5>
                </a>
              </li>
              <li>
                <img class="menu_icons" src="/images/icons/white_invites.png">
                <a href="/"><h5 class="menu_text">Create</h5>
                </a>
              </li>
              <li>
                <img class="menu_icons" src="/images/icons/white_logout2.png">
                <a href="/api/users/logout">
                  <h5 class="menu_text" id="navLogout">Logout</h5>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
</div>