<div class="fixed_event">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">
            We Lunch
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#">Logout</a></li>
      </ul>
    </section>
  </nav>
</div>
</div>
<div class="row">
  <div class="large-4 small-12 columns">
    <img src="http://i1301.photobucket.com/albums/ag118/francescatabor89/1%20-%20We%20Lunch/Photos/1052358_396709790449594_1960709402_o_zps1bswfonh.jpg">
    <div class="hide-for-small panel">
      <h3>Lunch at Jago</h3>
      <h5 class="subheader">Alex Chin</h5><p>has invited you to <strong>Brunch at Jago 2:00pm</strong></p>
    </h5>
  </div>
  <a href="#">
    <div class="panel callout radius">
      <h6><strong>Accept</strong><p>or</p><strong>Reject</strong></p>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="large-8 columns">
          <div class="row">
            <div class="large-4 small-6 columns">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/005/0b7/263/33a3052.jpg">
              <div class="panel">
                <h5>Anvar Turobov</h5>
              </div>
            </div>
            <div class="large-4 small-6 columns">
              <img src="https://avatars3.githubusercontent.com/u/9342155?v=3&s=460">
              <div class="panel">
                <h5>Evan Gillogley</h5>
              </div>
            </div>
            <div class="large-4 small-6 columns">
              <img src="https://avatars3.githubusercontent.com/u/12237892?v=3&s=460">
              <div class="panel">
                <h5>Francesca Tabor</h5>
              </div>
            </div>
            <div class="large-4 small-6 columns">
              <img src="https://avatars2.githubusercontent.com/u/40461?v=3&s=460">
              <div class="panel">
                <h5>Alex Chin</h5>
              </div>
            </div>
            <div class="large-4 small-6 columns">
              <img src="https://avatars0.githubusercontent.com/u/11295626?v=3&s=460">
              <div class="panel">
                <h5>Hassan Mir</h5>
              </div>
            </div>
            <div class="large-4 small-6 columns">
              <img src="https://pbs.twimg.com/profile_images/608937787153330176/WQ62ZBKe.jpg">
              <div class="panel">
                <h5>Emily Isacke</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row">
   HTML -  <div class="small-4 large-4 columns nav-button">
   <p>hello</p></div>
   <div class="small-4 large-4 columns">
    <p>no way</p></div><div class="small-4 large-4 columns nav-button">
    <p>dfgsdf</p></div>
    <span>&copy; 2015 Evan Gillogley</span>
  </div>