<style>
body {  overflow:scroll !important;}
</style>

<h1>HOME - LOGGED IN</h1>

<a href="/api/users" class="test">Test</a>
<a href="/api/users/logout">Logout</a>
<% if (current_user) { %>
<input type="hidden" value="<%= JSON.stringify(current_user) %>" id="token">
<% } %>
<script>

console.log($('#token').val())
$('#token').val("")
</script>