<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS -->
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WeLunch</title>

  <!-- VENDOR STYLESHEETS -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/app.css">
  
  <!-- VENDOR JAVASCRIPT -->
  <script type="text/javascript" src="./js/vendor/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="./js/vendor/jquery-ui.min.js"></script>
  <script type="text/javascript" src="./js/vendor/foundation.min.js"></script>
  <script type="text/javascript" src="./js/vendor/jquery.transform2d.js"></script>  
  <script type="text/javascript" src="./js/vendor/jquery.jTinder.js"></script>  
  <script type="text/javascript" src="./js/vendor/foundation.orbit.min.js"></script>

  <!-- CUSTOM JAVASCRIPT -->
  <script src="./js/ajax/login.js"></script>
  <script src="./js/ajax/linkedin-login.js"></script>
  <script src="./js/app.js"></script>
</head>
<body>
  <% include partials/nav %>
  <%- body%>
</body>
</html>