<!DOCTYPE html>
<html lang="en">
<head>
  <!-- META TAGS -->
  <style>
  .clock{
    text-align: center;
    color: #eee;
    padding: 1rem 0;
    font-size: 3rem;
  }
  </style>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WeLunch</title>

  <!-- VENDOR STYLESHEETS -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,300,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/flipclock.css">
  <link rel="stylesheet" href="/stylesheets/app.css">

  
  <!-- VENDOR JAVASCRIPT -->
  <script type="text/javascript" src="/js/vendor/jquery-2.1.4.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="/js/vendor/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/vendor/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="/js/vendor/foundation.min.js"></script>
  <script src="/js/vendor/flipclock.min.js"></script>
  <script type="text/javascript" src="/js/vendor/jquery.transform2d.js"></script>  
  <script type="text/javascript" src="/js/vendor/jquery.jTinder.js"></script>  
  <script type="text/javascript" src="/js/vendor/foundation.orbit.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>
 
  <!-- CUSTOM JAVASCRIPT -->
  <script src="/js/app.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/ajax/login.js"></script>
  <script src="/js/ajax/currentEvent.js"></script>
  <script src="/js/ajax/invitation-index.js"></script>
  <script src="/js/ajax/linkedin-login.js"></script>
  <script src="/js/ajax/createEvent.js"></script>
  <script src="/js/ajax/userIndex.js"></script>

</head>
<body>
  <% include partials/nav %>
  <%- body%>
</body>
</html>