<a href="/event">See all event</a>
<div class="wrap">
    <div id="tinderslide">
        <ul>
        </ul>
    </div>
</div>
<div class="actions">
    <a href="#" class="dislike"><i></i></a>
    <a href="#" class="like"><i></i></a>
</div>
<div id="status"></div>
<script src="/js/ajax/show_event.js"></script



