body {
  font-family: 'Roboto', sans-serif;
}

.orbit-container {
  width: 100%;
  height: 100%;
  position: relative;
}

div.overlay {
  width: 50%;
  margin: 0 auto;
  margin-top: 25%;
}

.orbit-slides-container {
  background-color: #051C2B;
  width: 100%;
  height: 100% !important;
}

.orbit-timer {
  left: -10000px;
  top: auto;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.link-to-local-sign-up {
  display: block;
  color: white;
  background-color: #1dc39f;
  padding: 10px;
  width: 210px;
  margin: auto;
}

.fa-linkedin {
  padding-top: 7px;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
  background-color: rgba(5, 28, 43, 0.55);
}

div.title {
  font-size: 6em;
  color: white;
}

li {
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media (max-width: 600px) {
  div.title {
    font-size: 3.3em;
  }
}
