


  <div class='row'>
    <div class='large-12 columns'>
      <div class='row'>
        <div class='large-4 small-12 columns'>
          <h4>Invite People</h4>
        </div>
        <div class='row'>
         <div class='large-12 columns'>
           <div class='panel'>
             <div class='row'>
               <div class='large-2 small-6 columns'>
                 <img src='"+ data.users[i].linkedin.avatar+ "'>
               </div>
               <div class='large-10 small-6 columns'>
                 <div class='alert-box'>
                  <button href='#' class='close inviteButton'>
                    <input type='hidden' value='"+ data.users[i]._id+"' class='invitee-id'>
                    <strong>Invite</strong> '"+ data.users[i].local.name+ "'+
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

