<h1>INVITE PEOPLE</h1>

<a href="/api/users/logout">Logout</a>
<% if (current_user) { %>
<input type="hidden" value="<%= JSON.stringify(current_user) %>" id="token">
<% } %>
<div id="InvitesPending">
  
</div> 
