<!-- <h1>INVITE PEOPLE</h1>
<a href="/event">See all Invites</a>
<a href="/api/users/logout">Logout</a>
<% if (current_user) { %>
<input type="hidden" value="<%= JSON.stringify(current_user) %>" id="token">
<% } %>

</div> 
 -->



<a href="/event">See all Invites</a>
<div class="wrap">
  <div id="tinderslide">
  <div id="Invitations">
    <ul>
    </ul>
  </div>
</div>
<div class="actions">
  <a href="#" class="dislike"><i></i></a>
  <a href="#" class="like"><i></i></a>
</div>
<div id="status"></div>