
<div class="login-container orbit-container orbit-slides-container">

<ul data-orbit>
  <li style="background:linear-gradient(
      rgba(5, 28, 43, 0.5), 
      rgba(5, 28, 43, 0.5)
    ), url('/images/landing-slider/drinks.jpg') no-repeat center center fixed;background-size : cover;">
  <div class="overlay">
  <div class="title">WeLunch</div>
  <a href="/auth/linkedin" class="btn btn-block btn-social btn-linkedin button">
    <i class="fa fa-linkedin"></i> Login with Linkedin
  </a>
  <a href="#local-login" class="link-to-local-sign-up button">Login with Email</a>
  </div>
    <div class="orbit-caption" style="text-align:center;font-size: 1.5em;">Discover New Opportunities</div>
    
  </li>
  <li style="background: linear-gradient(
      rgba(5, 28, 43, 0.45), 
      rgba(5, 28, 43, 0.45)
    ), url('/images/landing-slider/dining.png');background-size : cover;" style="text-align:center;font-size: 1.5em;">
  <div class="overlay">
  <div class="title">WeLunch</div>
  <a class="btn btn-block btn-social btn-linkedin button">
    <i class="fa fa-linkedin"></i> Login with Linkedin
  </a>  <a href="#local-login" class="link-to-local-sign-up button">Login with Email</a>
  </div>
    <div class="orbit-caption" style="text-align:center;font-size: 1.5em;">Meet Industry Professionals</div>
  </li>
  <li style="background: linear-gradient(
      rgba(5, 28, 43, 0.45), 
      rgba(5, 28, 43, 0.45)
    ), url('/images/landing-slider/girls-eating.png') no-repeat center center fixed;background-size : cover;" >
 
  <div class="overlay">
  <div class="title">WeLunch</div>
  <a href="/api/users/auth/linkedin" class="btn btn-block btn-social btn-linkedin button">
    <i class="fa fa-linkedin"></i> Login with Linkedin
  </a><a href="#local-login" class="link-to-local-sign-up button">Login with Email</a>
  </div>  
   <div class="orbit-caption" style="text-align:center;font-size: 1.5em;"> Join Professional Lunch Clubs</div>
  </li>
</ul>
</div>

<div id="local-login">
<h2>Login</h2>

<a href="/api/users/auth/linkedin">Linkedin</a>

<form method="post" action="/signup">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input class="form-control" type="text" name="first_name" id="first_name">
  </div>

  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input class="form-control" type="text" name="last_name" id="last_name">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>
  
  <input class="btn btn-default" type="submit">
</form>
</div>

