<style>
  div.title {
    font-size: 6em;
    color:  -webkit-linear-gradient(45deg, #1dc39f, dodgerblue);
  }
  @media (max-width: 600px) {
    div.title {
      font-size: 3.3em;
    }
  }
  html {
    -webkit-font-smoothing: antialiased;
  }

  .welunch {
    text-align: center;
    margin:auto;
    color:#1dc39f;
    font-size:35px;
    font-weight: 100;
    font-family: "Roboto";
    letter-spacing: -.05em;
  }
  .signinButton {
    text-align: center;
    margin:auto;
    color:white;
    font-size:16px;
    font-weight: 300;
    font-family: "Roboto";
  }

  .transparentBtn {
    display:block;
    color:#white;
    background:transparent;border:1px solid white;    padding:10px;
    width:210px;
    margin:auto;
  }

  .transparentBtn:hover {
    display:block;
    color:#white;
    text-shadow: 0.5px  #051C2B;
    background:transparent;border:1px solid #051C2B;    padding:10px;
    background-color:dodgerblue;
    width:210px;
    margin:auto;
  }
  .fa-linkedin {
    padding: 5px;
    padding-bottom: 5px;
  }

</style>

<div class="login-container orbit-container orbit-slides-container">
  <ul data-orbit>
<li style="background:linear-gradient(
rgba(5, 28, 43, 0.5), 
rgba(5, 28, 43, 0.5)
), url('/images/landing-slider/drinks.jpg') no-repeat center center fixed;background-size : cover;">
<div class="overlay">
  <div class="title welunch">WeLunch</div></br>
  <a href="/auth/linkedin" class="btn btn-block btn-social btn-linkedin button transparentBtn" style="text-align:center;">
    <i class="fa fa-linkedin" style="margin-top: -4px;"></i> Login with Linkedin
  </a>
</br>
<a href="#local-login" class="link-to-local-sign-up button signinButton transparentBtn">Login with Email</a>
</div>
</li>

<!-- Discover New Opportunities -->

<li style="background:linear-gradient(
rgba(5, 28, 43, 0.5), 
rgba(5, 28, 43, 0.5)
), url('/images/landing-slider/drinks.jpg') no-repeat center center fixed;background-size : cover;">
<div class="overlay">
  <div class="title welunch">WeLunch</div></br>
  <a href="/auth/linkedin" class="btn btn-block btn-social btn-linkedin button transparentBtn" style="text-align:center;">
    <i class="fa fa-linkedin" style="margin-top: -4px;"></i> Login with Linkedin
  </a>
</br>
<a href="#local-login" class="link-to-local-sign-up button signinButton transparentBtn">Login with Email</a>
</div>
<div class="orbit-caption welunch" style="text-align:center;font-size: 1.5em;">Discover New Opportunities</div>
</li>

<!-- Meet Industry Professionals -->

<li style="background:linear-gradient(
rgba(5, 28, 43, 0.5), 
rgba(5, 28, 43, 0.5)
), url('/images/landing-slider/dining.png') no-repeat center center fixed;background-size : cover;">
<div class="overlay">
  <div class="title welunch">WeLunch</div></br>
  <a href="/auth/linkedin" class="btn btn-block btn-social btn-linkedin button transparentBtn" style="text-align:center;">
    <i class="fa fa-linkedin" style="margin-top: -4px;"></i> Login with Linkedin
  </a>
</br>
<a href="#local-login" class="link-to-local-sign-up button signinButton transparentBtn">Login with Email</a>
</div>
<div class="orbit-caption welunch" style="text-align:center;font-size: 1.5em;">Meet Industry Professionals</div>
</li>

<!-- Join Professional Lunch Clubs -->

<li style="background:linear-gradient(
rgba(5, 28, 43, 0.5), 
rgba(5, 28, 43, 0.5)
), url('/images/landing-slider/women.jpg') no-repeat center center fixed;background-size : cover;">
<div class="overlay">
  <div class="title welunch">WeLunch</div></br>
  <a href="/auth/linkedin" class="btn btn-block btn-social btn-linkedin button transparentBtn" style="text-align:center;">
    <i class="fa fa-linkedin" style="margin-top: -4px;"></i> Login with Linkedin
  </a>
</br>
<a href="#local-login" class="link-to-local-sign-up button signinButton transparentBtn">Login with Email</a>
</div>
<div class="orbit-caption welunch" style="text-align:center;font-size: 1.5em;">Join Professional Lunch Clubs</div>
</li>


</ul>
</div>
<div id= "login-container">

</div>

<% if (current_user) { %>
<% console.log(JSON.stringify(current_user)) %>
<% } %>

