
<div class="login-container orbit-container orbit-slides-container" style="z-index:-1;">

<ul data-orbit>
  <li style="background:linear-gradient(
      rgba(5, 28, 43, 0.5), 
      rgba(5, 28, 43, 0.5)
    ), url('/images/landing-slider/drinks.jpg') no-repeat center center fixed;background-size : cover;">
  <div class="overlay">
  <div class="title">WeLunch</div>
  <a class="btn btn-block btn-social btn-linkedin button">
    <i class="fa fa-linkedin"></i> Sign in with Linkedin
  </a>
  </div>
    <div class="orbit-caption" style="text-align:center;font-size: 1.5em;">Discover New Opportunities</div>
    
  </li>
  <li style="background: linear-gradient(
      rgba(5, 28, 43, 0.45), 
      rgba(5, 28, 43, 0.45)
    ), url('/images/landing-slider/dining.png');background-size : cover;" style="text-align:center;font-size: 1.5em;">
  <div class="overlay">
  <div class="title">WeLunch</div>
  <a class="btn btn-block btn-social btn-linkedin button">
    <i class="fa fa-linkedin"></i> Sign in with Linkedin
  </a>
  </div>
    <div class="orbit-caption" style="text-align:center;font-size: 1.5em;">Meet Industry Professionals</div>
  </li>
  <li style="background: linear-gradient(
      rgba(5, 28, 43, 0.45), 
      rgba(5, 28, 43, 0.45)
    ), url('/images/landing-slider/girls-eating.png') no-repeat center center fixed;background-size : cover;" >
 
  <div class="overlay">
  <div class="title">WeLunch</div>
  <a class="btn btn-block btn-social btn-linkedin button">
    <i class="fa fa-linkedin"></i> Sign in with Linkedin
  </a>
  </div>
   <div class="orbit-caption" style="text-align:center;font-size: 1.5em;"> Join Professional Lunch Clubs</div>
  </li>
</ul>
</div>


