div.create-event-form-container {
margin:20px;
}
#cancelButton {
  max-width: 150px;
  margin-bottom: 15px;
}
#inviteMoreButton {
  max-width: 150px;
  background-color:#1dc39f;
  margin-left: 20px;
  border-color:#1dc39f;
  margin-bottom: 15px;
}
.invitee-img {
  width:80px;
  height:80px;
  display: inline-block;
}