//**COLOURS **********************
$navy: #051C2B;
$light-green: #20D9B1; 
$blue:#00AAE6;
$green:#1dc39f;
$white: #F1F1F1;
// $gradient2: linear-gradient(45deg, #2ecc71, dodgerblue);


//**MAIN **********************
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #FFFFFF;
  background-color: $navy;
}

main {
  width: 960px;
  margin: 0 auto;
  max-width: 800px;
}

footer {
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
  }
  .footer, .push {
    height: 155px; /* .push must be the same height as .footer */
  }
}

//**BUTTON **********************

.alert-box{
  background: linear-gradient(45deg, #2ecc71, dodgerblue)!important;
  border-color: #00AAE6;
  color: #F1F1F1;
}

//**TYPOGRAPHY **********************

h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color:$white;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  color:$white;
}
h2.invite-header {
  text-align: center;
  font-weight: 100;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

p {
  font-size: 15px;
  line-height: 1.4;
}

p.small {
  font-size: 11px;
  font-weight: 700;
}

a {
  color: white;
  // text-decoration: underline;
}

.bold {
  font-weight: bold;
}

//** ERROR PAGES **********************

div.dialog {
  width: 95%;
  max-width: 33em;
  margin: 4em auto 0;
}
div.dialog > div {
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #BBB;
  border-top: #B00100 solid 4px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white;
  padding: 7px 12% 0;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

div.dialog > p {
  margin: 0 0 1em;
  padding: 1em;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-color: #DADADA;
  color: #666;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

//**FORM **********************

input[type=text] {
  height: 25px;
  width: 240px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 0px 10px;
  border: 1px solid #707070;
}

input[type=password] {
  height: 25px;
  width: 240px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 0px 10px;
  border: 1px solid #707070;
}

input[type=submit] {
  height: 42px;
  background-color: dodgerblue;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid dodgerblue;
  border-bottom: 3px solid #1C73C7;
  padding: 5px 10px 5px 10px;
  position: relative;
  top: -1px;
}

label {
  line-height: 2;
}

.field {
  margin: 10px 0;
}

textarea {
  width: 255px;
  height: 100px;
}

.login-container, 
.orbit-container, 
.orbit-slides-container, 
.main-container,
.overlay {
  height: 100% !important;
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}


//**ORBIT SLIDER**********************

// .orbit-container {
//   // opacity: 0.8;
//   width: 100%;
//   height: 100%;
//   position:relative;
// }
// .background-container {
  // background-color: #051C2B;
// }

div.overlay {

  width: 50%;
  margin: 0 auto;
}


.orbit-timer {
  left: -10000px;
  top: auto;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.link-to-local-sign-up {
  display:block;
  color:white;
  background-color: $green;
  padding:10px;
  width:210px;
  margin:auto;
}

.fa-linkedin {
  padding-top:7px;
}
.orbit-container .orbit-slides-container>* .orbit-caption {
  background-color:  rgba(5, 28, 43, 0.55);
}
div.title {
  font-size: 6em;
  // color: #1dc39f;
}
li {
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.invite-users-page {
  display:none;
}
//**MEDIA QUERIES **********************

@media (max-width: 600px) {
  div.title {
    font-size: 3.3em;
  }
}